body{
    height: 893px;
   background-color: #121214;
   background-image: var(--bg);
   background-repeat: no-repeat;
   background-size: cover;
   font-family: 'Roboto', sans-serif;
}
:root{
    --card-title-border-color: #746615;
    --card-color-primary: #f7dd43;
    --card-bg-color: url(./imagens2/logoYELLOW.svg);  /*esse é o padrão, é necessário ter um padrão*/
    --bg: url(./imagens/fundoYELLOW2.svg);
}
body.blue{
    --card-title-border-color:#338AF3 ;
    --card-color-primary: #338AF3;
    --card-bg-color: #202024;
    --bg : url(imagens2/fundoBLUE2.svg);
}
body.green{
    --card-title-border-color: #047C3F;
    --card-color-primary: #047C3F;
    --card-bg-color: #1a1f1b;
    --bg : url(imagens2/fundoGREEN2.svg);
}
#geral{
    width: fit-content;
    margin: auto;
    padding-top: 52px;
}
#cards{
    display: flex;
    flex-direction: column;
    gap: 32px;
 
}
.logo-topo{
    text-align: center;
    margin-top: 52px;
    margin-bottom: 63px;
}
.data-jogo{
    border: 1px solid var(--card-title-border-color);
    border-radius: 6px;
    padding: 8px 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
    margin-top: 32px;
    margin-bottom: 53px;
    width: fit-content;
    margin-inline: auto;
    color: #f7dd43;
    
}
span{
    color: #E1E1E6;
    font-size: 14px; 
}
#card{
    background-color: var(--card-bg-color);
    width: 300px;
    height: 215px;
    border-radius: 6px;
    border-bottom: 2px solid var(--card-color-primary);
    border-radius: 5px;
}
.list-item{
    font-size: 22px; 
    display: flex;
    align-items: center;
    justify-content: space-around;   
}
ul{
    padding: 0;
}
strong{
    color: #E1E1E6;
    font-size: 30px;
    font-weight: 900;
    line-height: 125%; 
}
#card h2:hover,
#card ul li strong:hover,
#card ul li img:hover {
        transform: scale(1.1);
}
#card h2,
#card ul li strong,
#card ul li img {
        transition: transform 0.3s;
}
#card{
    opacity: 0;
    animation: appear .2s forwards;
}
@keyframes appear {
    0% {
        transform: translateY(-50px);
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
@media (min-width: 632px){
       #cards{
        max-width: 1000px;
        flex-direction:row;     
        flex-wrap: wrap;
       }
}

